<html>
<head></head>

<body>
    
    <div class="col-md-6 py-2">
        <div class="h-100 p-5 bg-light border rounded-3">
            <p>asd</p>
            <div class="form-floating">
                <textarea required class="form-control" placeholder="answer here" name="textarea1" id="text1" style="height: 100px"></textarea>
                <label for="textlabel">Answer here</label>
            </div>
        </div>
    </div>
    
    <div class="col-md-6 py-2">
        <canvas id="myChart"></canvas>
    </div>
    
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.0.1/chart.min.js" integrity="sha512-tQYZBKe34uzoeOjY9jr3MX7R/mo7n25vnqbnrkskGr4D6YOoPYSpyafUAzQVjV6xAozAqUFIEFsCO4z8mnVBXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="text/javascript" src="/static/dashboard.js"></script>
</body>
</html>