<!-- Type list -->
<div class="col-md-6 py-2 question" id="list1">
    <div class="h-100 p-5 bg-light border rounded-3">
        <p>{{ question1.questionset_question }}</p>
        <div class="answer">
            <select class="form-select" name="select1" id="{{ question1.id }}" aria-label="Default select example" required>
                <option value="" disabled selected>Open this select menu</option>
                <option value="Always">Always</option>
                <option value="Often">Often</option>
                <option value="Sometimes">Sometimes</option>
                <option value="Rarely">Rarely</option>
                <option value="Never">Never</option>
            </select>
        </div>
        <div id="icon1"></div>
    </div>
</div>