<!-- Type radio -->
<div class="col-md-6 py-2  question" id="radio1">
    <div class="h-100 p-5 bg-light border rounded-3">
        <p>{{ question1.questionset_question }}</p>
        <div class="answer">
            <div class="form-check">
                <input required class="form-check-input" type="radio" name="{{ question1.id }}" id="{{ question1.id }}" value="Strongly Agree">
                <label class="form-check-label" for="flexRadioDefault1">Strongly Agree</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="{{ question1.id }}" id="{{ question1.id }}" value="Agree">
                <label class="form-check-label" for="flexRadioDefault1">Agree</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="{{ question1.id }}" id="{{ question1.id }}" value="Undecided">
                <label class="form-check-label" for="flexRadioDefault1">Undecided</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="{{ question1.id }}" id="{{ question1.id }}" value="Disagree">
                <label class="form-check-label" for="flexRadioDefault1">Disagree</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="{{ question1.id }}" id="{{ question1.id }}" value="Strongly Disagree">
                <label class="form-check-label" for="flexRadioDefault1">Strongly Disagree</label>
            </div>
        </div>
    </div>
</div>